{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<script type="text/javascript">   
  
  function checkUser()   
  {  
      var usernameVal = document.getElementById("id_username").value;  
    
      usertipsSpan = document.getElementById("usertips");  
        
      if (!usernameVal.match( /^[a-z0-9]*$/)) {  
          usertipsSpan.innerHTML=" Only support numbers and english lower characters";
          return false;  
      } else {  
          usertipsSpan.innerHTML='';
      }
  }
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span12">
          <div class="page-header">
            <div class="row-fluid">
              <div class="span12">
                <h1>Login</h1>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="account">
        {% if form.errors %}
        <ul class="errorlist"><li>Username or password were incorrect</li></ul>
        {% endif %}
        <form method="post" action="./">
            <table class="noframe">
            {% if next != '' %}
            <tr>
            <td colspan="2" align="center">Please login to
                <a href="{{next}}">continue</a>
            </td>
            </tr>
            <tr></tr>
            <tr></tr>
            {% endif %}
            <tr>
                <td><label>Username:</label></td>
            </tr>
            <tr>
                <td><input onblur="checkUser()" id="id_username" maxlength="254" name="username" type="text"/><span class="errinfo" id="usertips"></span></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
            </tr>
            <tr>
                <td><input id="id_password" name="password" type="password" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Login" class="btn" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <p>&nbsp;</p>
                    <!-- <a href="/accounts/password/reset/">Forgot password</a> -->
                </td>
            <input type="hidden" name="next" value="{{next}}">
            </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}
        