{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span12">
          <div class="page-header">
            <div class="row-fluid">
              <div class="span12">
                <h1>Login</h1>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="account">
        {% if form.errors %}
        <ul class="errorlist"><li>Username or password were incorrect</li></ul>
        {% endif %}
        <form method="post" action="./">
            <table class="noframe">
            {% if next != '' %}
            <tr>
            <td colspan="2" align="center">Please login to
                <a href="{{next}}">continue</a>
            </td>
            </tr>
            <tr></tr>
            <tr></tr>
            {% endif %}
            <tr>
                <td><label>Username:</label></td>
            </tr>
            <tr>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
            </tr>
            <tr>
                <td>{{form.password}}</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Login" class="btn" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <p>&nbsp;</p>
                    <!-- <a href="/accounts/password/reset/">Forgot password</a> -->
                </td>
            <input type="hidden" name="next" value="{{next}}">
            </tr>
            </table>
        </form>
    </div>>
</div>
{% endblock %}
        