{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}
{% block head %}Sign up{% endblock %}
{% block content %}
{% load staticfiles %}
<form action="." method="post">
  <table>
    {% for field in regForm %}
    <tr>
      <td>{{field.label_tag}}</td> 
      <td>{{field}} <span class="errinfo">{% if field.errors %}{{ field.errors.as_text }}{% else %}{{ field.help_text }}{% endif %}</span></td>
    </tr>
    {% endfor %}
    <tr>
      <td>Agree with <a href="{% static "terms.html" %}" target="_blank" style="text-decoration:none">User Terms</a></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="Sign up" /></td>
    </tr>
  </table>
</form>
{% endblock %}