{% extends "base.html" %}
{% block title %}密码修改{% endblock %}
{% block head %}密码修改{% endblock %}
{% block content %}
{% if form.has_errors %}
<ul class="errorlist"><li>输入的密码有误，请重新输入</li></ul>
{% endif %}
<form method="post" action=".">
	<p><label for="id_old_password">旧密码:</label>{{form.old_password}}</p>
    <p><label for="id_new_password1">新密码:</label>{{form.new_password1}}</p>
    <p><label for="id_new_password2">确认新密码: </label>{{form.new_password2}}</p>
    <input type="submit" value="保存"/>    
</form>
{% endblock %}
        