{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}
{% block head %}用户注册{% endblock %}
{% block content %}
<form action="." method="post">
  <table>
    {% for field in regForm %}
    <tr>
      <td>{{field.label_tag}}:</td> 
      <td>{{field}} <span class="errinfo">{% if field.errors %}{{ field.errors.as_text }}{% else %}{{ field.help_text }}{% endif %}</span></td>
    </tr>
    {% endfor %}
    <tr>
      <td align="right"><input type="checkbox" name="checkbox" id="checkbox" /></td>
      <td>我已阅读并同意<a href="terms.html" target="_blank" style="text-decoration:none">《服务条款》</a></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="注册" /></td>
    </tr>
  </table>
</form>
{% endblock %}