{% extends "base.html" %}
{% block title %}Edit Shop{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/webuploader/style3.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/webuploader/style5.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/webuploader/style7.css"/>
{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <div class="row-fluid">
          <div class="span12">
            <h1> Edit Shop</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid contact">
    <div class="span6">
      <div class="wpcf7" id="wpcf7-f75-t1-o1">
          <div id="output" class="alert"> </div>
          <div class="form-meta clearfix">
            <div class="formcol">
              <form action="/website/edit/{{objectId}}/" method="post">
                <table>
                  {% for field in Place_Form %}
                    <tr>
                      <td><label for="fname">{{field.label_tag}}</label></td>
                    </tr>
                    <tr>
                      <td>{{field}} </td>
                      <td>&nbsp; &nbsp; </td>
                      <td><span class="errinfo">{% if field.errors %}{{ field.errors.as_text }}{% else %}{{ field.help_text }}{% endif %}</span></td>
                      <td>{{ info }}</td>
                    </tr>
                  {% endfor %}
                  <input type="hidden" name="oldCategory" value="{{categoryObjectId}}" />
                  <tr>
                    <td><label for="fname">Menu Photo:</label></td>
                    <input type="hidden" id="menu_photo" name="menu_photo" value="0" />
                  </tr>
                  <div id="wrapper">
                      <div id="container">
                          <div id="uploader">
                              <div class="queueList">
                                  <div id="dndArea" class="placeholder">
                                      <div id="filePicker"></div>
                                      <p>Support drag and 300 maximum for each time</p>
                                  </div>
                              </div>
                              <div class="statusBar" style="display:none;\">
                                  <div class="progress">
                                      <span class="text">0%</span>
                                      <span class="percentage"></span>
                                  </div><div class="info"></div>
                                  <div class="btns">
                                      <div id="filePicker2"></div>
                                      <div class="uploadBtn" id='uploadBtn' value='menu'>Upload</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <p>&nbsp;</p>
                  <tr>
                      <td><label for="fname">Product Photo:</label></td>
                      <input type="hidden" id="product_photo" name="product_photo" value="0" />
                  </tr>
                  <div id="wrapper3">
                      <div id="container3">
                          <div id="uploader3">
                              <div class="queueList3">
                                  <div id="dndArea3" class="placeholder">
                                      <div id="filePicker3"></div>
                                      <p>Support drag and 300 maximum for each time</p>
                                  </div>
                              </div>
                              <div class="statusBar" style="display:none;">
                                  <div class="progress">
                                      <span class="text">0%</span>
                                      <span class="percentage"></span>
                                  </div><div class="info"></div>
                                  <div class="btns">
                                      <div id="filePicker4"></div>
                                      <div class="uploadBtn3" id='uploadBtn3' value='product'>Upload</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <p>&nbsp;</p>
                  <tr>
                      <td><label for="fname">Environment Photo:</label></td>
                      <input type="hidden" id="environment_photo" name="environment_photo" value="0" />
                  </tr>
                  <div id="wrapper5">
                      <div id="container5">
                          <div id="uploader5">
                              <div class="queueList5">
                                  <div id="dndArea5" class="placeholder">
                                      <div id="filePicker5"></div>
                                      <p>Support drag and 300 maximum for each time</p>
                                  </div>
                              </div>
                              <div class="statusBar" style="display:none;">
                                  <div class="progress">
                                      <span class="text">0%</span>
                                      <span class="percentage"></span>
                                  </div><div class="info"></div>
                                  <div class="btns">
                                      <div id="filePicker6"></div>
                                      <div class="uploadBtn5" id='uploadBtn5' value='environment'>Upload</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <p>&nbsp;</p>
                  <tr>
                      <td><label for="fname">Other Photo:</label></td>
                      <input type="hidden" id="other_photo" name="other_photo" value="0" />
                  </tr>
                  <div id="wrapper7">
                      <div id="container7">
                          <div id="uploader7">
                              <div class="queueList7">
                                  <div id="dndArea7" class="placeholder">
                                      <div id="filePicker7"></div>
                                      <p>Support drag and 300 maximum for each time</p>
                                  </div>
                              </div>
                              <div class="statusBar" style="display:none;">
                                  <div class="progress">
                                      <span class="text">0%</span>
                                      <span class="percentage"></span>
                                  </div><div class="info"></div>
                                  <div class="btns">
                                      <div id="filePicker8"></div>
                                      <div class="uploadBtn7" id='uploadBtn7' value='other'>Upload</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <tr>
                      <td><label for="fname">Open Hour:</label></td>
                      <input type="hidden" id="open_hour" name="open_hour" value="0" />
                  </tr>
                  <tr>
                      <td><label for="fname">Monday Open:</label></td>
                      <td>
                          <select name="mon_open_hour" id="mon_open_hour" class='open-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="mon_open_minute" id="mon_open_minute" class='open-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                      <td><label class="close-label">Close:</label></td>
                      <td>
                          <select name="mon_close_hour" id="mon_close_hour" class='close-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="mon_close_minute" id="mon_close_minute" class='close-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                  </tr>
                  <tr>
                      <td><label for="fname">Tuesday Open:</label></td>
                      <td>
                          <select name="tue_open_hour" id="tue_open_hour" class='open-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="tue_open_minute" id="tue_open_minute" class='open-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                      <td><label class="close-label">Close:</label></td>
                      <td>
                          <select name="tue_close_hour" id="tue_close_hour" class='close-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="tue_close_minute" id="tue_close_minute" class='close-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                  </tr>
                                      <tr>
                      <td><label for="fname">Wednesday Open:</label></td>
                      <td>
                          <select name="wed_open_hour" id="wed_open_hour" class='open-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="wed_open_minute" id="wed_open_minute" class='open-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                      <td><label class="close-label">Close:</label></td>
                      <td>
                          <select name="wed_close_hour" id="wed_close_hour" class='close-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="wed_close_minute" id="wed_close_minute" class='close-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                  </tr>
                                      <tr>
                      <td><label for="fname">Thursday Open:</label></td>
                      <td>
                          <select name="thur_open_hour" id="thur_open_hour" class='open-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="thur_open_minute" id="thur_open_minute" class='open-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                      <td><label class="close-label">Close:</label></td>
                      <td>
                          <select name="thur_close_hour" id="thur_close_hour" class='close-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="thur_close_minute" id="thur_close_minute" class='close-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                  </tr>
                                      <tr>
                      <td><label for="fname">Friday Open:</label></td>
                      <td>
                          <select name="fri_open_hour" id="fri_open_hour" class='open-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="fri_open_minute" id="fri_open_minute" class='open-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                      <td><label class="close-label">Close:</label></td>
                      <td>
                          <select name="fri_close_hour" id="fri_close_hour" class='close-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="fri_close_minute" id="fri_close_minute" class='close-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                  </tr>
                                      <tr>
                      <td><label for="fname">Saturday Open:</label></td>
                      <td>
                          <select name="sta_open_hour" id="sta_open_hour" class='open-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="sta_open_minute" id="sta_open_minute" class='open-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                      <td><label class="close-label">Close:</label></td>
                      <td>
                          <select name="sta_close_hour" id="sta_close_hour" class='close-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="sta_close_minute" id="sta_close_minute" class='close-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                  </tr>
                                      <tr>
                      <td><label for="fname">Sunday Open:</label></td>
                      <td>
                          <select name="sun_open_hour" id="sun_open_hour" class='open-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="sun_open_minute" id="sun_open_minute" class='open-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                      <td><label class="close-label">Close:</label></td>
                      <td>
                          <select name="sun_close_hour" id="sun_close_hour" class='close-hour'>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                              <option>13</option>
                              <option>14</option>
                              <option>15</option>
                              <option>16</option>
                              <option>17</option>
                              <option>18</option>
                              <option>19</option>
                              <option>20</option>
                              <option>21</option>
                              <option>22</option>
                              <option>23</option>
                              <option>24</option>
                          </select>
                          <strong>：</strong>
                      </td>
                      <td>
                          <select name="sun_close_minute" id="sun_close_minute" class='close-mintue'>
                              <option>00</option>
                              <option>15</option>
                              <option>30</option>
                              <option>45</option>
                          </select>
                      </td>
                  </tr>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <input type="submit" value="Submit" class="btn btn-success" />
                </table>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.getElementById('mon_open_hour').options[{{mon_open_hour}}-1].selected=true;
  document.getElementById('mon_open_minute').options[{{mon_open_minute}}].selected=true;
  document.getElementById('mon_close_hour').options[{{mon_close_hour}}-1].selected=true;
  document.getElementById('mon_close_minute').options[{{mon_close_minute}}].selected=true;

  document.getElementById('tue_open_hour').options[{{tue_open_hour}}-1].selected=true;
  document.getElementById('tue_open_minute').options[{{tue_open_minute}}].selected=true;
  document.getElementById('tue_close_hour').options[{{tue_close_hour}}-1].selected=true;
  document.getElementById('tue_close_minute').options[{{tue_close_minute}}].selected=true;

  document.getElementById('wed_open_hour').options[{{wed_open_hour}}-1].selected=true;
  document.getElementById('wed_open_minute').options[{{wed_open_minute}}].selected=true;
  document.getElementById('wed_close_hour').options[{{wed_close_hour}}-1].selected=true;
  document.getElementById('wed_close_minute').options[{{wed_close_minute}}].selected=true;

  document.getElementById('thur_open_hour').options[{{thur_open_hour}}-1].selected=true;
  document.getElementById('thur_open_minute').options[{{thur_open_minute}}].selected=true;
  document.getElementById('thur_close_hour').options[{{thur_close_hour}}-1].selected=true;
  document.getElementById('thur_close_minute').options[{{thur_close_minute}}].selected=true;

  document.getElementById('fri_open_hour').options[{{fri_open_hour}}-1].selected=true;
  document.getElementById('fri_open_minute').options[{{fri_open_minute}}].selected=true;
  document.getElementById('fri_close_hour').options[{{fri_close_hour}}-1].selected=true;
  document.getElementById('fri_close_minute').options[{{fri_close_minute}}].selected=true;

  document.getElementById('sta_open_hour').options[{{sta_open_hour}}-1].selected=true;
  document.getElementById('sta_open_minute').options[{{sta_open_minute}}].selected=true;
  document.getElementById('sta_close_hour').options[{{sta_close_hour}}-1].selected=true;
  document.getElementById('sta_close_minute').options[{{sta_close_minute}}].selected=true;

  document.getElementById('sun_open_hour').options[{{sun_open_hour}}-1].selected=true;
  document.getElementById('sun_open_minute').options[{{sun_open_minute}}].selected=true;
  document.getElementById('sun_close_hour').options[{{sun_close_hour}}-1].selected=true;
  document.getElementById('sun_close_minute').options[{{sun_close_minute}}].selected=true;

</script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/base64.js"></script>
<script type="text/javascript" src="/static/js/webuploader/CryptoJS.js"></script>
<script type="text/javascript" src="/static/js/webuploader/webuploader.js"></script>
<script type="text/javascript" src="/static/js/webuploader/upload.js"></script>
<script type="text/javascript" src="/static/js/webuploader/upload3.js"></script>
<script type="text/javascript" src="/static/js/webuploader/upload5.js"></script>
<script type="text/javascript" src="/static/js/webuploader/upload7.js"></script>
{% endblock %}
        