{% extends "base.html" %}
{% block title %}Add Shop{% endblock %}
{% block head %}Add Shop{% endblock %}
{% block content %}

<form action="/website/add/" method="post">
  <table>	
    {% for field in Add_Place_Form %}
    <tr>
      <td>{{field.label_tag}}</td> 
      <td>{{field}} <span class="errinfo">{% if field.errors %}{{ field.errors.as_text }}{% else %}{{ field.help_text }}{% endif %}</span></td>
	  <td>{{ info }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td align="right"><input type="submit" value="Submit" /></td>
    </tr>
  </table>
</form>
{% endblock %}
        