{% extends "base.html" %}
{% block title %}Shop List{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span12">
          <div class="page-header">
            <div class="row-fluid">
              <div class="span12">
                <h1>My Shop</h1>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="place">
        <table width="960">
        {% if object_list %}
            <tr align="center">
                <th>Name</th>
                <th>Address</th>
                <th>Settings</th>
            </tr>
            {% for place in object_list %}
                <tr align="center">
                    <td>{{place.name}}</td>
                    <td>{{place.address}}</td>
                    <td><a href="/website/edit/{{place.objectId}}">EDIT</a></td>
                </tr>
                <p></p>
            {% endfor %}
        {% else %}
        	<tr align="center"><td colspan="8">No Shop</td></tr>
        {% endif %}
        <tr align="right"> 
        	<td colspan="8">
            <p>&nbsp;</p>
            {% include 'paginator.html' %}
        	</td>
        </tr> 
        </table>
    </div>
</div>
{% endblock %}
        