<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
{% load staticfiles %}

<!-- Add Webuploader -->
<link rel="stylesheet" type="text/css" href="/static/css/webuploader/webuploader.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/webuploader/style.css"/>
<!-- Add Bootstrap -->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css" />
<link rel="stylesheet" href="/static/css/docs.css" type="text/css" />
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"> -->
</head>
<body>
<div class="nav-agency">
  <div class="navbar navbar-static-top"> 
    <!-- navbar-fixed-top -->
    <div class="navbar-inner">
      <div class="container"> <a class="brand" href="index.html"> <img src="assets/img/Logo.png" alt="Logo"></a>
        <div id="main-nav">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="index.html">Home</a> </li>
              <li><a href="app.html">Product</a> </li>
              <li><a href="contact.html">Contact</a> </li>
              <li><a href="http://blog.mtscandic.com" target="_blank">Blogg</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="nav">
	<a href="/">Home</a> |
    <a href="/website">My Shop</a> |
    <a href="/website/add">Add Shop</a> |
    <a href="/download">Download App</a> |
  {% if user.is_authenticated %}
    <a href="/user/{{user.username}}">{{user.username}}</a> |
    <a href="/account/logout/">Logout</a>
  {% else %}
    <a href="/account/login/?next=">Login</a> |
    <a href="/account/register/">Sign up</a>
  {% endif %}
    | <a href="/admin/">Admin</a>
</div> -->
<h4>{% block head %}{% endblock %}</h4>
{% block content %}{% endblock %}
</body>
</html>
